.todo-item {
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.256);
  padding: 0.5rem 0;
  color: #535353;
}

/* TOP SECTION */
.todo-item-top {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.todo-item-checkbox {
}

.todo-item-title {
  flex-grow: 1;
}

.todo-item-buttons {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}

.todo-item-icon {
  width: 20px;
}

.todo-item-edit-btn,
.todo-item-delete-btn,
.todo-item-priority-btn {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-item-edit-btn:hover,
.todo-item-delete-btn:hover,
.todo-item-priority-btn:hover {
  cursor: pointer;
}

.todo-item-edit-btn:hover,
.todo-item-delete-btn:hover {
  filter: brightness(0%);
}

.todo-item-priority-btn:hover {
  /* filter: contrast(100%); */
}

.todo-item-edit-btn,
.todo-item-delete-btn {
  filter: invert(42%);
}

/* BOTTOM SECTION */
.todo-item-description {
  display: flex;
}
.todo-item-due-date {
  display: flex;
}
.todo-item-project {
  display: flex;
}
