.todo-item {
  background-color: #fff;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto; */
}

/* TOP SECTION */
.todo-item-top {
  display: flex;
}

.todo-item-checkbox {
}

.todo-item-title {
  flex-grow: 1;
}

.todo-item-buttons {
}
