.todo-section {
  background-color: var(--color-todo);
  flex-grow: 1;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  grid-area: 1 / 2 / 2 / 3;
}

.btn-new-todo {
  border: 1px solid black;
  width: 6rem;
  align-self: center;
  text-align: center;
  margin: 4rem;
  background-color: #fff;
}

.btn-new-todo:hover {
  cursor: pointer;
  background-color: rgb(198, 255, 200);
}
