.add-todo-modal-background {
  background-color: rgba(0, 0, 0, 0.399);
  z-index: 1;
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.add-todo-modal-window {
  background-color: aliceblue;
  height: 50%;
  width: 75%;
  position: fixed;
  top: 25%;
}
