.main {
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: 310px auto;
  grid-template-rows: auto;
  max-height: 100%;
  overflow: auto;
  background-color: var(--color-todo);

  transition: background-color 0.25s;
}
