@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap");

/* GLOBALS */

:root {
  --color-frame: rgb(43, 43, 43);
  --color-todo: rgb(255, 255, 255);
  --color-sidebar: rgb(232, 232, 232);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html,
body,
.app {
  height: 100%;
  width: 100%;
}

.user-interface {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 30fr 1fr;
  height: 100%;
  width: 100%;
}

/* SCROLLBAR STYLING */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.367);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* UTILITY CLASSES */
.hidden {
  display: none !important;
}
