.sidebar {
  background-color: var(--color-sidebar);
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 150px;
}

.sidebar-icon {
  width: 20px;
}

/* DATE FILTERS */
.date-filter-btn {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

.date-filter-btn:hover {
  cursor: pointer;
}

.date-filter-btn-left {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.today-count,
.week-count,
.project-count {
  background-color: rgb(212, 212, 212);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PROJECTS SECTION */
.projects {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.projects-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

/* PROJECTS HEADER */
.projects-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

.edit-projects-btn {
  background-color: transparent;
  border: none;
}

.edit-projects-btn:hover {
  /* color: #a7ffff; */
  filter: invert(93%) sepia(39%) saturate(3613%) hue-rotate(163deg) brightness(109%) contrast(107%);
  cursor: pointer;
}

/* PROJECT BUTTONS */
.project-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  /* padding: 0.25rem; */
  border-radius: 5px;
  height: 33px;
}

.project-button:hover {
  cursor: pointer;
}

.project-name-input {
  margin: 0 0 0 0.5rem;
}

.project-name-input:disabled {
  background-color: transparent;
  color: #000000;
  border: none;
}

.project-name-input:hover {
  cursor: pointer;
}

.edit-buttons {
  display: flex;
  align-items: center;
  /* column-gap: 0.25rem; */
}

.rename-project-btn,
.delete-project-btn,
.reorder-project-handle {
  background-color: transparent;
  border: none;
}

.rename-project-btn {
  background-color: rgb(161, 255, 137);
}

.delete-project-btn {
  background-color: rgb(241, 78, 78);
}

.reorder-project-handle {
  background-color: rgb(61, 174, 255);
  border-radius: 0 5px 5px 0;
}

.reorder-project-handle:hover {
  cursor: grab;
}

.rename-project-btn:hover,
.delete-project-btn:hover {
  cursor: pointer;
}

.edit-project-rename-icon,
.edit-project-delete-icon,
.edit-project-reorder-icon {
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.project-count {
  margin: 0 0.5rem 0 0;
}

/* ADD PROJECT */
.add-project-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 33px;
}

.add-project-btn:hover {
  /* color: white; */
  filter: invert(96%) sepia(88%) saturate(0%) hue-rotate(64deg) brightness(106%) contrast(101%);
  cursor: pointer;
}

/* NEW PROJECT POPUP */
.add-project-popup {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  column-gap: 0.25rem;
}

.project-popup-name-input {
  border-radius: 5px;
  height: 33px;
  border: none;
  flex-grow: 1;
  /* width: 60%; */
}

.project-popup-buttons {
  /* width: 40%; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  column-gap: 0.25rem;
}

.project-popup-cancel-btn,
.project-popup-confirm-btn {
  height: 33px;
  width: 60px;
  border: none;
  border-radius: 5px;
}

.project-popup-cancel-btn:hover,
.project-popup-confirm-btn:hover {
  cursor: pointer;
}

.project-popup-cancel-btn {
  background-color: red;
}

.project-popup-confirm-btn {
  background-color: greenyellow;
}

/* UTILITY */
.clicked {
  background-color: gold;
  font-weight: bold;
}
