.sidebar {
  background-color: var(--color-sidebar);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
  overflow: overlay;
  border-radius: 0 10px 10px 0;
  box-shadow: 2px 5px 5px 1px var(--color-sidebar-shadow);
  margin-right: 10px;
  border-left: 15px solid var(--color-highlight1-hover);
}

.sidebar-icon {
  width: 20px;
  filter: var(--color-icon-strong);
}

/* DATE FILTERS */
.date-filter-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

.date-filter-btn:hover {
  cursor: pointer;
  background-color: var(--color-list-highlight);
}

.date-filter-btn-left {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.today-count,
.week-count,
.project-count {
  background-color: var(--color-count-background);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clicked > .project-count,
.clicked > .week-count,
.clicked > .today-count {
  background-color: var(--color-highlight1-hover);
}

/* PROJECTS SECTION */
.projects {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.projects-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.1rem;
}

/* PROJECTS HEADER */
.projects-header {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  margin: 1rem 0 0 0;
}

.projects-headline {
  font-weight: 500;
}

.edit-projects-btn {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: var(--color-icon-fainter);
}

.edit-projects-icon {
  width: 20px;
}

.edit-projects-btn:hover {
  filter: var(--color-icon-hover);
  cursor: pointer;
}

/* PROJECT BUTTONS */
.project-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  height: 33px;
  margin-left: 1rem;
}

.project-button:hover {
  cursor: pointer;
  background-color: var(--color-list-highlight);
}

.project-name-input {
  margin: 0 0 0 0.5rem;
}

.project-name-input:disabled {
  background-color: transparent;
  color: var(--color-text);
  border: none;
}

.project-name-input:hover {
  cursor: pointer;
}

.edit-buttons {
  display: flex;
  align-items: center;
  /* column-gap: 0.25rem; */
}

.rename-project-btn,
.delete-project-btn,
.reorder-project-handle {
  background-color: transparent;
  border: none;
}

.rename-project-btn {
  background-color: var(--color-confirm-button);
}

.delete-project-btn {
  background-color: var(--color-cancel-button);
  border-radius: 0 5px 5px 0;
}

.reorder-project-handle {
  /* background-color: var(--color-count-background); */
  background-color: transparent;
  border-radius: 5px 0 0 5px;
}

.reorder-project-handle:hover {
  cursor: grab;
}

.rename-project-btn:hover,
.delete-project-btn:hover {
  cursor: pointer;
}

.rename-project-btn:hover {
  background-color: var(--color-confirm-button-hover);
}

.delete-project-btn:hover {
  background-color: var(--color-cancel-button-hover);
}

.edit-project-rename-icon,
.edit-project-delete-icon,
.edit-project-reorder-icon {
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.edit-project-reorder-icon {
  filter: var(--color-icon-strong);
}

.edit-project-delete-icon,
.edit-project-rename-icon {
  /* filter: var(--color-icon-fainter); */
  filter: invert(25%);
}

.delete-project-btn:hover > .edit-project-delete-icon,
.rename-project-btn:hover > .edit-project-rename-icon {
  filter: invert(0%);
}

.project-count {
  margin: 0 0.5rem 0 0;
}

/* ADD PROJECT */
.add-project-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 0.5rem;
  height: 33px;
  filter: invert(30%);
}

.add-project-btn:hover {
  filter: invert(0%);
  cursor: pointer;
}

.sidebar:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
}

/* NEW PROJECT POPUP */
.projects-add {
  padding-left: 1.5rem;
  padding-right: 0.5rem;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.add-project-popup {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  width: 100%;
  column-gap: 0.25rem;
  row-gap: 0.25rem;
  /* margin-left: 1rem; */
}

.project-popup-name-input {
  border-radius: 5px;
  height: 33px;
  border: 1px solid rgb(174, 174, 174);
  flex-grow: 1;
  padding: 0.5rem;
  /* width: 60%; */
  width: 100%;
  box-shadow: var(--button-box-shadow);
}

.project-popup-buttons {
  /* width: 40%; */
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.25rem;
}

.project-popup-cancel-btn,
.project-popup-confirm-btn {
  height: 33px;
  /* width: 60px; */
  border: none;
  border-radius: 5px;
  flex-grow: 1;
  box-shadow: var(--button-box-shadow);
}

.project-popup-cancel-btn:hover,
.project-popup-confirm-btn:hover {
  cursor: pointer;
}

.project-popup-cancel-btn {
  background-color: var(--color-cancel-button);
  color: white;
}

.project-popup-cancel-btn:hover {
  background-color: var(--color-cancel-button-hover);
}

.project-popup-confirm-btn {
  background-color: var(--color-confirm-button);
}

.project-popup-confirm-btn:hover {
  background-color: var(--color-confirm-button-hover);
}

/* UTILITY */
.clicked {
  background-color: var(--color-list-highlight);
}

.clicked > .date-filter-btn-left > .date-filter-label,
.clicked > .project-name-input {
  font-weight: bold;
}

.in-edit-mode {
  background-color: var(--color-project-item-edit) !important;
  /* border: 1px solid rgb(151, 151, 151); */
}

/* MEDIA QUERIES */

@media only screen and (max-width: 900px) {
  .sidebar {
    z-index: 100;
    /* position: absolute; */
    grid-column: 1 / 2;
    grid-row: 1/2;
  }
}
