/* GLOBALS */

:root {
  --color-frame: rgb(160, 160, 160);
  --color-todo: rgb(199, 216, 255);
  --color-sidebar: rgb(92, 92, 92);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 30fr 1fr;

  height: 100%;
  width: 100%;
}

/* UTILITY CLASSES */
.hidden {
  display: none;
}
