@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.header {
  background-color: var(--color-frame);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

/* --------------- SIDEBAR TOGGLE --------------- */
.sidebar-toggle {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 0.1rem 0.3rem;
  justify-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
}

.sidebar-toggle:hover {
  cursor: pointer;
  background-color: #3a3a3a;
}

.sidebar-toggle-icon {
  width: 25px;
  filter: invert(100%) sepia(0%) saturate(9%) hue-rotate(137deg) brightness(102%) contrast(104%);
}

/* --------------- HEADLINE --------------- */
.headline {
  color: white;
  justify-self: center;
  font-family: "Pacifico", sans-serif;
  font-size: 3rem;
  line-height: 0;
}

/* --------------- DARK MODE TOGGLE --------------- */
.dark-mode-toggle {
  display: flex;
  width: fit-content;
}
.dark-mode-toggle-label {
  width: 50px;
  height: 25px;
  position: relative;
  display: block;
  background: #c7dce3;
  border-radius: 200px;
  cursor: pointer;
  /* box-shadow: 2px 2px 5px rgb(22, 22, 22), inset 5px 0px 5px 0px rgb(80, 80, 80); */
  border: 1px solid rgb(166, 166, 166);
}

.dark-mode-toggle-label:after {
  content: "";
  width: 21px;
  height: 21px;
  position: absolute;
  top: 1px;
  left: 1px;
  /* background: linear-gradient(180deg, #ffcc89, #d8860b); */
  background: rgb(80, 80, 80);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

#dark-mode-toggle-input {
  width: 0;
  height: 0;
  visibility: hidden;
}

#dark-mode-toggle-input:checked + .dark-mode-toggle-label {
  background: #313131;
}
#dark-mode-toggle-input:checked + .dark-mode-toggle-label:after {
  left: 48px;
  transform: translateX(-100%);
  /* background: linear-gradient(180deg, #777, #3a3a3a); */
  background: var(--color-frame);
}
.dark-mode-toggle-label,
.dark-mode-toggle-label:after {
  transition: 0.3s;
}

.dark-mode-toggle-label:active:after {
  width: 30px;
}

.dark-mode-toggle-label img {
  position: absolute;
  z-index: 100;
}
.dark-mode-toggle-label img.sun-icon {
  fill: #fff;
  transition: 0.3s;
}
.dark-mode-toggle-label img.moon-icon {
  fill: #7e7e7e;
  /* fill: #ffec19; */
  transition: 0.3s;
}

.sun-icon {
  top: 2px;
  left: 2px;
  width: 18px;
  filter: invert(89%) sepia(58%) saturate(815%) hue-rotate(336deg) brightness(104%) contrast(103%);
}

.moon-icon {
  top: 4px;
  left: 29px;
  width: 15px;
  filter: invert(89%) sepia(58%) saturate(815%) hue-rotate(336deg) brightness(104%) contrast(103%);
}

#dark-mode-toggle-input:checked + .dark-mode-toggle-label .sun-icon {
  fill: #7e7e7e;
  display: none;
}
#dark-mode-toggle-input:checked + .dark-mode-toggle-label .moon-icon {
  fill: #7e7e7e;
  display: block;
}

#dark-mode-toggle-input + .dark-mode-toggle-label .sun-icon {
  fill: #7e7e7e;
  display: block;
}
#dark-mode-toggle-input + .dark-mode-toggle-label .moon-icon {
  fill: #7e7e7e;
  display: none;
}
